@import 'tailwindcss';
@plugin '@tailwindcss/typography';


:root {
    --bg-color: #11111b;
    --inactive-color: #1e1e2e;
    --active-color: #fab387;
    --text-color: #cdd6f4;
}

@theme {
    --color-bg: var(--bg-color);
    --color-inactive: var(--inactive-color);
    --color-primary: var(--active-color);
    --color-text: var(--text-color);
}
